<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found
      <span role="img" aria-label="Face with rolling eyes">🙄</span>
    </h1>
    <a class="text-dark" href="/"><i class="fas fa-home"></i> Back To Home</a>
  </div>
</div>

<script>
  $("#thetitle").text("404 | Qwik Flip");
</script>
