<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Log In
                </div>
                <div class="card-body">
                    <form class="create-form">
                        <div class="form-group">
                            <label for="loginEmail">Email: </label>
                            <input type="text" id="loginEmail" loginEmail="loginEmail">
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="loginPassword">Password: </label>
                            <input type="password" id="loginPassword" loginPassword="loginPassword">

                        </div>

                        <button type="submit" id="login-btn">Log In</button>
                        <br>

                        <a href="/">← Back To Home</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script> $("#login-btn").on("click", function (event) {
            event.preventDefault();
            if()
            var User = {
                name: $("#item-name").val().trim(),
                description: $("#item-description").val().trim(),
                condition: $("#item-condition").val(),
                category: $("#item-category").val(),
                price: $("#item-price").val(),
                imageUrl: imgUrl,
                UserId: userId,
                location: $("#item-location").val().trim()
            };
            console.log(newItem);

            $.ajax("/api/items", {
                type: "POST",
                data: newItem
            }).then(
                function () {
                    $("#item-modal").modal();
                    setTimeout(reload, 5000);

                }
            );


        });</script>
