<div class="modal" id="item-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ERROR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your Email/Password doesn't match what we have on file.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center">
                    <h5><i class="fas fa-sign-in-alt"></i> Login</h5>
                </div>
                <div class="card-body text-center">
                    <form class="create-form">
                        <div class="form-group">
                            <label for="loginEmail">Email </label>
                            <input class="form-control" type="text" id="loginEmail" loginEmail="loginEmail">
                        </div>
                        

                        <div class="form-group">
                            <label for="loginPassword">Password </label>
                            <input class="form-control" type="password" id="loginPassword" loginPassword="loginPassword">

                        </div>

                        <button class="btn btn-primary col mb-3" type="submit" id="login-btn">Log In</button>
                       

                        <a href="/"><i class="fas fa-home"></i> Back To Home</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function() {
  // Getting references to our form and inputs
  var loginForm = $("#login-btn");
 

  // When the form is submitted, we validate there's an email and password entered
  loginForm.on("click", function(event) {
    event.preventDefault();
    var userData = {
      email: $("#loginEmail").val().trim(),
      password: $("#loginPassword").val().trim()
    };

    if (!userData.email || !userData.password) {
      return;
    }

    // If we have an email and password we run the loginUser function and clear the form
    loginUser(userData.email, userData.password);
    $("#loginEmail").val("");
    $("#loginPassword").val("");
  });

  // loginUser does a post to our "api/login" route and if successful, redirects us the the members page
  function loginUser(email, password) {
    $.post("/api/login", {
      email: email,
      password: password
    }).then(function(data) {
      window.location.replace(data);
      // If there's an error, log the error
    }).catch(function(err) {
      console.log(err);
       $("#item-modal").modal();
    });
  }

});

$("#thetitle").text("Log In | Qwik Flip");
</script>
