<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    Register
                </div>
                <div class="card-body">
                    <form class="create-form">
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input type="text" id="name" name="name">
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input type="text" id="email" email="email">
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="password">Password: </label>
                            <input type="password" id="password" password="password">
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="confirm">Confirm Password: </label>
                            <input type="password" id="confirm" confirm="confirm">
                        </div>

                        <button id="signup-btn" class="btn btn-primary" type="submit">Sign Up</button>

                        <br>

                        <a href="/">← Back To Home</a>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    $("#signup-btn").on("click", function(event){
        event.preventDefault();
        var newUser = {
            name: $("#name").val().trim(),
            email: $("#email").val().trim(),
            password: $("#password").val().trim(),
            
        }
        var confirm = $("#confirm").val().trim();

        if(newUser.password === confirm){
            $.ajax("/api/users", {
                type: "POST",
                data: newUser
            }).then(function(){
                $("#name").val("");
                $("#email").val("");
                $("#password").val("");
                $("#confirm").val("");
                window.location.replace("/login");
            })
        }
    })

</script>