
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    <h5><i class="fas fa-user-plus"></i> Sign Up</h5>
                </div>
                <div class="card-body text-center">
                    <form class="create-form">
                        <div class="form-group">
                            <label for="name">Name </label>
                            <input  class="form-control"  type="text" id="name" name="name">
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="email">Email </label>
                            <input  class="form-control" type="email" id="email" email="email">
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="password">Password </label>
                            <input  class="form-control" type="password" id="password" password="password">
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="confirm">Confirm Password </label>
                            <input class="form-control"  type="password" id="confirm" confirm="confirm">
                        </div>

                        <button id="signup-btn" class="col btn btn-primary mb-3" type="submit">Sign Up</button>

                        

                        <a href="/"><i class="fas fa-home"></i> Back To Home</a>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

   $(document).ready(function() {
  // Getting references to our form and input
  

  // When the signup button is clicked, we validate the email and password are not blank
  $("#signup-btn").on("click", function(event) {
    event.preventDefault();
    var userData = {
      name: $("#name").val().trim(),
      email: $("#email").val().trim(),
      password: $("#password").val().trim()
    };

    if(userData.password !== $("#confirm").val().trim()){
      return;
      
    }

    if (!userData.email || !userData.password || !userData.name) {
      return;
    }
    // If we have an email and password, run the signUpUser function
    signUpUser(userData.name, userData.email, userData.password);
    $("#name").val("");
    $("#email").val("");
    $("#password").val("");
    $("#confirm").val("");
  });

  // Does a post to the signup route. If successful, we are redirected to the members page
  // Otherwise we log any errors
  function signUpUser(name, email, password) {
    $.post("/api/signup", {
      name: name,
      email: email,
      password: password
    }).then(function(data) {
      console.log(data);
      if(data.errors.length === 0){
         window.location.replace(data);       
      }
     
      // If there's an error, handle it by throwing up a bootstrap alert
    }).catch(handleLoginErr);
  }

  function handleLoginErr(err) {
    console.log(err.responseJSON);
    
  }
});
$("#thetitle").text("Sign Up | Qwik Flip");
</script>
